<div class="row">
    {{#each result}}
    <a href='{{redirect_link}}' target="_blank">
        <div class="col-4">
            <img src="{{product_link}}" alt="Product1" />
            <h4>
                {{product_name}}
            </h4>
            <p>
                MRP: Rs <strong>{{price}}</strong> (Inclusive of all taxes)

            </p>
        </div>
    </a>
    <div class='wish'>
        <button id="addwishlist"><a href='/product/wishlist/{{id}}/{{product_name}}'>Add to Wishlist</a></button>
    </div>

    {{/each}}
</div>

<script defer>
</script>
