{{> header}}
{{#if msg}}
<div class="msg">
  {{msg}}
</div>
  {{/if}}
<div class="row">
    {{#each result}}
    <a href='{{redirect_link}}' target="_blank">
        <div class="col-4">
            <img src="{{product_link}}" alt="Product1" />
            <h4>
                {{product_name}}
            </h4>
            <p>
                MRP: Rs <strong>{{price}}</strong> (Inclusive of all taxes)

            </p>
        </div>
    </a>
    {{/each}}
</div>
<div class="check">
    <a href="http://localhost:3000/product">
    <div class="button">
{{#if check}}
        {{check}}
    {{/if}}
    </div>

    </a>
</div>
{{> footer}}
